<ion-header>
  <ion-toolbar>
    <ion-title>
      Notification
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let ad of ads">
    <ng-container *ngIf="ad.tipo === 'AceptacionTrabajador' && ad.para === userId">
      <!-- Card para aceptacionTrabajador -->
      <ion-card-header>
        <ion-card-title>Aceptacion {{ ad.titulo }}</ion-card-title>
        <ion-card-subtitle>{{ ad.lugarTrabajador }}</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <p>Felicidades, han aceptado tu postulacion, ahora puedes empezar a trabajar!</p>
        
        <ion-button color="success" (click)="goToMisTrabajos()">
          <ion-icon name="checkmark"></ion-icon>
          Ver
        </ion-button>

        <ion-button color="danger" (click)="eliminateAd(ad)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ng-container>

    <ng-container *ngIf="ad.tipo === 'noSeleccionado' && ad.para === userId">
      <!-- Card para RechazoTrabajador -->
      <ion-card-header>
        <ion-card-title>No Seleccionado {{ ad.titulo }}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <p>Han contratado a alguien mas, no te desanimes sigue buscando mas trabajos similares, animo!</p>
        <ion-button color="danger" (click)="eliminateAd(ad)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ng-container>

    <ng-container *ngIf="ad.tipo === 'Rechazado' && ad.para === userId">
      <!-- Card para RechazoTrabajador -->
      <ion-card-header>
        <ion-card-title>Rechazado {{ ad.titulo }}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <p>No desean tus servicios, no te desanimes sigue buscando mas trabajos similares, animo!</p>
        <ion-button color="danger" (click)="eliminateAd(ad)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ng-container>
  
    <ng-container *ngIf="ad.tipo === 'AnuncioEliminado' && ad.para === userId">
      <!-- Card para RechazoTrabajador -->
      <ion-card-header>
        <ion-card-title>Anuncio Eliminado {{ ad.titulo }}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <p>El trabajo ha sido eliminado</p>
        <ion-button color="danger" (click)="eliminateAd(ad)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ng-container>

    <ng-container *ngIf="ad.tipo === 'RenunciaDelTrabajador' && ad.para === userId">
      <!-- Card para RechazoTrabajador -->
      <ion-card-header>
        <ion-card-title>Renuncia del Trabajador {{ ad.titulo }}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <p>El trabajador a renunciado al trabajo, el anuncio ha vuelto a publicarse, esperamos vuelvas a encontrar otro trabajador!</p>
        <ion-button color="danger" (click)="eliminateAd(ad)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ng-container>

    <ng-container *ngIf="ad.tipo === 'Postulante' && ad.para === userId && ad.estado !== '1'">
      <!-- Card para aceptacionTrabajo -->
      <ion-card-header>
        <ion-card-title>Postulantes para {{ ad.titulo }}</ion-card-title>
        <ion-card-subtitle>{{ ad.nombreTrabajador }}</ion-card-subtitle>
        <ion-card-subtitle>{{ ad.lugarTrabajador }}</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <p>{{ ad.descripcion }}</p>
        <p>Precio: {{ ad.precioTrabajador | currency:'USD':'symbol':'1.2-2' }}</p>
        
        <ion-button color="success" (click)="aceptar(ad)">
          <ion-icon name="checkmark"></ion-icon>
          Aceptar
        </ion-button>

        <ion-button color="danger" (click)="rechazar(ad)">
          Rechazar <ion-icon name="trash"></ion-icon>
        </ion-button>

      </ion-card-content>
    </ng-container>

    <ng-container *ngIf="ad.tipo === 'Postulante' && ad.para === userId && ad.estado === '1'">
      <!-- Card para aceptacionTrabajo -->
      <ion-card-header>
        <ion-card-title>Postulantes Aceptado para {{ ad.titulo }}</ion-card-title>
        <ion-card-subtitle>{{ ad.lugarTrabajador }}</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <p>{{ ad.descripcion }}</p>
        <p>Precio: {{ ad.precioTrabajador | currency:'USD':'symbol':'1.2-2' }}</p>
        
        <ion-button color="success" (click)="goToMisPublicaciones()">
          <ion-icon name="checkmark"></ion-icon>
          Ver
        </ion-button>

        <ion-button color="danger" (click)="eliminateAd(ad)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>

      </ion-card-content>
    </ng-container>

    

    
  </ion-card>
  
  
</ion-content>



