<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Editar Anuncio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="AdForm" (ngSubmit)="addAd()">
    <ion-item>
      <ion-label position="floating">Titulo</ion-label>
      <ion-select formControlName="titulo">
        <ion-select-option value="Servicio Profesional">Servicio Profesional</ion-select-option>
        <ion-select-option value="Encomienda">Encomienda</ion-select-option>
        <ion-select-option value="Alquiler">Alquiler</ion-select-option>
        <ion-select-option value="Empleo Fijo">Empleo Fijo</ion-select-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">¿Qué necesitas?</ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ingresa el precio</ion-label>
      <ion-input type="number" step="0.01" formControlName="precioAnunciante" ></ion-input>
    </ion-item>

    <ion-item>
      Cambiar el lugar: 
      <ion-item slot="end">{{ ad.lugarAnunciante}}
        <ion-toggle [(ngModel)]="mostrarLugar" [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-item>
    </ion-item>
    
    <ion-item *ngIf="mostrarLugar">
      <ion-label>Nuevo Lugar</ion-label>
    </ion-item>
    <ion-item *ngIf="mostrarLugar">
      <ion-searchbar class="serch-map" formControlName="lugarAnunciante" [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search for a place" (ionClear)="ClearAutocomplete()"></ion-searchbar>
    </ion-item>
    
    
    <ion-list class="serch-map" *ngIf="showResults && autocompleteItems.length > 0">
      <ion-item class="serch-map" *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)" value="quito">
        {{ item.description }}
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label>¿El trabajdor necesita ir en taxi?</ion-label>
    <ion-item slot="end">
      <ion-toggle formControlName="transporte"></ion-toggle>
    </ion-item>
    </ion-item>

    <ion-item>
      <ion-label>¿Hora de la entrega?</ion-label>
      <ion-input type="time" formControlName="tiempoAnunciante"></ion-input>
    </ion-item>
 
    <ion-item>
      <ion-label position="stacked">Pago</ion-label>
      <ion-select formControlName="tipoPago">
        <ion-select-option value="efectivo">Efectivo</ion-select-option>
        <ion-select-option value="transferencia">Transferencia</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="!AdForm.valid">Guardar</ion-button>
  </form>
</ion-content>
