<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToTerminado()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Estado Anuncio Trabajador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="ion-text-center">
    <ion-label>{{ ad.titulo }}</ion-label>
  </ion-item>
      <p></p>

      <ion-item>
        <p>Tarea:</p>
        <ion-label>{{ ad.descripcion }}</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>Lugar de entrega:</ion-label>
        <ion-label>{{ ad.lugarAnunciante }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Tiempo de entrega:</ion-label>
        <ion-label>{{ ad.tiempoTrabajador }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Forma de Pago:</ion-label>
        <ion-label>{{ ad.tipoPago }}</ion-label>
      </ion-item>

      <ion-item *ngIf="ad.transporte == 'true'">
        <ion-label>Precio del Taxi:</ion-label>
        <ion-label>$ {{ ad.precioTransporte }}</ion-label>
      </ion-item>
      <ion-item *ngIf="ad.transporte == 'false'">
        <ion-label>Taxi:</ion-label>
        <ion-label>No</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Precio del trabajo:</ion-label>
        <ion-label>$ {{ ad.precioTrabajador }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Precio Total:</ion-label>
        <ion-label>$ {{ precioTotal }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>DATOS PERSPNALES DEL ANUNCIANTE:</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Nombre Anunciante:</ion-label>
        <ion-label>{{ ad.nombreAnunciante }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Número Anunciante:</ion-label>
        <ion-label>{{ ad.numeroAnunciante }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Correo Anunciante:</ion-label>
        <ion-label>{{ ad.correoAnunciante }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Contratos Totales del Anunciante:</ion-label>
        <ion-label>{{ ad.contratosTotales }}</ion-label>
      </ion-item>



  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-button (click)="goToTerminado()">
      Entregar Producto
    </ion-button>
  </ion-fab>
</ion-content>
