ion-content {
    // --ion-background-color: #5b2bc2; 
    --ion-background-color: #4932DE
  }
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  }
  
  .background-image {
    position: absolute;
    z-index: -1;
    height: 82%;
    top: -125px;
    object-fit: cover;
  }
  .white-label {
    color: white !important;
  }
  
  .white-input {
    color: white !important;
  }