<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Estado Anuncio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="ion-text-center">
    <ion-label>{{ ad.titulo }}</ion-label>
  </ion-item>
      <p></p>

      <ion-item>
        <p>Tarea : </p>
        <ion-label>{{ ad.descripcion }}</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>Lugar de entrega:</ion-label>
        <ion-label>{{ ad.lugarAnunciante }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Tiempo de entrega:</ion-label>
        <ion-label>{{ ad.tiempoTrabajador }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Forma de Pago:</ion-label>
        <ion-label>{{ ad.tipoPago }}</ion-label>
      </ion-item>

      <ion-item *ngIf="ad.transporte == 'true'">
        <ion-label>Precio del Taxi:</ion-label>
        <ion-label>$ {{ ad.precioTransporte }}</ion-label>
      </ion-item>
      <ion-item *ngIf="ad.transporte == 'false'">
        <ion-label>Taxi:</ion-label>
        <ion-label>No</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Precio del trabajo:</ion-label>
        <ion-label>$ {{ ad.precioTrabajador }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Precio Total:</ion-label>
        <ion-label>$ {{ precioTotal }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>DATOS PERSONALES DEL TRABAJADOR:</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Nombre Trabajador:</ion-label>
        <ion-label>{{ ad.nombreTrabajador }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Número Trabajador:</ion-label>
        <ion-label>{{ ad.numeroTrabajador }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Correo Trabajador:</ion-label>
        <ion-label>{{ ad.correoTrabajador }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Trabajos Totales Realizados:</ion-label>
        <ion-label  value="Bien">{{ ad.trabajosTotales }}</ion-label>
      </ion-item>



  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-button (click)="goToRecibir()">
      Recibir Producto
    </ion-button>
  </ion-fab>
</ion-content>
