<ion-header>
  <ion-toolbar>
    <ion-title>
      Acceso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text class="text-color" *ngIf="acceso_APEU === 'false'">
    <h3>BLOQUEADO</h3>
    <div style="text-align: center;">
      <h4>Se ha bloqueado su acceso a los servicos de la App jobox, hasta que cancele sus deudas pendientes con ciertos usuarios</h4>
      <h4>Si ya ha cancelado sus deudas y sigue bloqueado vuelva a iniciar sesion</h4>
    </div>
    <ion-button (click)="goToMisPublicaciones()">Pagar Deudas Pendientes</ion-button>
    <ion-button (click)="login()">Salir</ion-button>
  </ion-text>
</ion-content>
