ion-content {
  background-image: url("../../assets/font/back.png");
}

.edit-button {
    --ion-color-primary: #5b2bc2; // Define el color morado que deseas
  }

.eliminate-button {
    --ion-color-primary: #C71071; // Define el color morado que deseas
  }

.aplicar-button {
    --ion-color-primary: #5b2bc2;// #F9D73B; // Define el color morado que deseas
  }

.enviado-button {
    --ion-color-primary: #C71071;// #F9D73B; // Define el color morado que deseas
  }

.enviado-aprobado {
    --ion-color-primary: #10c765;// #F9D73B; // Define el color morado que deseas
  }
.my-card {
    background-color: #e6e6e6e6; // Fondo blanco
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.471); // Sombra
    margin-bottom: 16px; // Margen inferior
    border-radius: 20px;
  
    &.card-dark {
      border-radius: 5px;
      background-color: #1f1f23; // Fondo oscuro
      color: #ffffff; // Texto blanco
      //box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1); // Sombra
    }
}


.header-dark {
  --background: #000000; // Fondo oscuro
  color: #ffffff; // Texto blanco
 // box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1); // Sombra
  border-radius: 5px;
}

p{
  color: black;
  &.p-dark{
    color: #ffffff;
  }
}

.header-color-card{
  --background: #000000;
  border-radius: 5px;
  padding-left: 10px;

  &.header-card-dark {
    --background: #4A10C7; // Fondo oscuro
    color: #ffffff; // Texto blanco
    //box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1); // Sombra
  }
}

.content-color-card{
  font-family: 'Courier New', Courier, monospace;
  padding-left: 30px;
}

.search-color{
  --background: #ffffff87;
  border-radius: 5px;
  color: #000000;
  &.search-color {
    --background: #1f1f23; // Fondo oscuro
    color: #ffffff; // Texto blanco
    //box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1); // Sombra
  }
}

.menu-item{
  --color: #ffffff;
  &.menu-item-dark{
    --background:transparent;
  }
}

.menu-content{
   --background: transparent;
   height: 100%;
   width: 100%;
}

.icon-card {
  font-size: 2.5em;
}
ion-header.scroll-vanish {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}
// .background-image {
//   position: absolute;
//   z-index: -1;
//   height: 82%;
//   top: 0px;
//   object-fit: cover;
// }