// ion-item {
//     --background: rgba(255, 255, 255, 0.88);
//     --color: black;
//     --border-color: rgba(87, 16, 168, 0.608);
//   }
.content-color-card{
    font-family: 'Courier New', Courier, monospace;
    color: black;
  }
.text-color{
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}