<ion-header>
  <ion-toolbar>
    <ion-title>
      Terminado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="AdForm" (ngSubmit)="addAd()">


    <ion-item>
      <ion-label>Lo completaste al 100%</ion-label>
      <ion-toggle formControlName="trabajoCompleto"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Lo entregaste a tiempo</ion-label>
      <ion-toggle formControlName="trabajoATiempo"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">El pago es en:</ion-label>
      <ion-select formControlName="tipoPago">
        <ion-select-option value="efectivo">Efectivo</ion-select-option>
        <ion-select-option value="transferencia">Transferencia</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Entrega el código de 5 dígitos</ion-label>
      <ion-grid>
       
        <ion-text class="text-color">
          <h3>Codigo</h3>
          <div style="text-align: center;">
            <h4>{{ codigo }}</h4>
          </div>
        </ion-text>
      </ion-grid>
    </ion-item>
    
    

    <ion-button type="submit" expand="block" [disabled]="!AdForm.valid" (click)="presentModal()" color="tertiary">Listo</ion-button>
  </form>
</ion-content>
