/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
    --ion-background-color: #ffffffde; 
  }
.card-content-md p{
  font-size: 18px;
}

body.dark {
  ion-content {
     --ion-background-color: #000000;
    //background-image: url("assets/font/backB.png");
    color: #fff;
  }
}

.dark {
    //--ion-color-primary: #4a4a4a;
    --ion-color-secondary: #d4d4d4;
    //--ion-color-tertiary: #c4c4c4;
    //--ion-color-success: #5e17ab;
    //--ion-color-warning: #d4d4d4;
    //--ion-color-danger: #1c1c1c;
    --ion-color-dark: #d4d4d4;
    --ion-color-medium: #c4c4c4;
    --ion-color-light: #4a4a4a;
      p{
        color: #d4d4d4;
      }
      
      ion-item {
        --background: transparent;
        --color: #ffffff;
        --border-color: rgba(61, 61, 61, 0.608);
        //box-shadow: 0 2px 8px rgba(42, 42, 42, 0.1);
      }
    
  }
  
.header-color{
    --background: #000000;
}
.btn-login{
  --background:black;
  &.btn-login-dark {
      --background: #5e17ab; // Fondo oscuro
      color: #ffffff; // Texto blanco
      box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1); // Sombra
    }
}

ion-item {
  --background: transparent;
  --color: black;
  --border-color: rgba(87, 16, 168, 0.134);
}
.list-md {
  padding-bottom: 298px;
}