<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="notificacionData.titulo" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea rows="10" cols="auto" [(ngModel)]="notificacionData.mensaje" ></ion-textarea>
  </ion-item>


<div style="text-align: center; margin-top: 5%;">
  <ion-button color="success" expand="large"  (click)="enviar()" fill="clear" style="background-color: #2c9483; color: white;" > ENVIAR</ion-button>
  <ion-button color="danger" expand="large" (click)="cancelar()">Cancelar</ion-button>
</div> -->

</ion-content>
