<ion-header>
  <ion-toolbar>
    <ion-title>
      Mis Trabajos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list class="ion-padding">
      <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))" >
          <ion-item *ngFor="let ad of ads" [color]="ad.estado === '0' ? 'primary' : ad.EntregacodigoAnunciante === 'entregado' ? 'success' : ad.EntregacodigoAnunciante === 'enEspera' ? 'warning' : ad.EntregacodigoAnunciante === 'noEntregado' ? 'danger' : 'tertiary'">

          <p class="icon-card">
            - {{ ad.titulo }}{{ ad.estado }}
          </p>
          <ion-buttons slot="end">
            <ion-button *ngIf="ad.EntregacodigoAnunciante === 'noEntregado'" class="edit-button" slot="end">
              Pendiente de pago {{ currentAd?.estado }}<ion-icon name="pencil">Ver Estado</ion-icon>
           </ion-button>
            <ion-button *ngIf="ad.estado === '1'" class="edit-button" slot="end" (click)="goToEstadoTrabajador(ad)">
              Aprobado {{ currentAd?.estado }}<ion-icon name="pencil">Ver Estado</ion-icon>
            </ion-button>
            <ion-button id="open-modal" expand="block" (click)="setOpen(true,ad)">Ver</ion-button>
          </ion-buttons>
          <ion-reorder slot="end"></ion-reorder>
          <ion-modal [isOpen]="isModalOpen">
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>{{ currentAd?.titulo }}</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="setOpen(false,ad)">Close</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding" color="light">
          
                <p>{{ currentAd?.lugarAnunciante }}</p>
                <p>{{ currentAd?.descripcion }}</p>
                <ion-row>
                  <ion-col size="4" class="ion-text-center">
                    <ion-icon class="icon-card" name="cash-outline" [color]="currentAd?.precioAnunciante ?? 0 > 0 ? 'tertiary' : 'medium'" color="tertiary"></ion-icon>
                    
                    <p class="ion-text-wrap">{{ currentAd?.precioAnunciante | currency:'USD':'symbol':'1.2-2' }}</p>
                  </ion-col>
                  <ion-col size="4" class="ion-text-center">
                    <ion-icon class="icon-card" name="time-outline" color="tertiary"></ion-icon>
                    <p class="ion-text-wrap">{{ currentAd?.tiempoAnunciante }}</p>
                  </ion-col>
                  <ion-col size="4" class="ion-text-center">
                    <ion-icon class="icon-card" name="car-outline" *ngIf="currentAd?.transporte" color="tertiary"></ion-icon>
                    <p class="ion-text-wrap" *ngIf="currentAd?.transporte">Si</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="ion-text-center">
                  <ion-button  class="eliminate-button" (click)="eliminateAd(currentAd?._id)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-col>
                </ion-row>
              </ion-content>
            </ng-template>
          </ion-modal>        
        </ion-item>
      </ion-reorder-group>
    </ion-list>

    
    
</ion-content>
